{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>{{ user.first_name }} {{ user.last_name }}</h1>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
</div>

<!-- Notes goes here -->
<div class="container">
  <h3>Notes</h3>
  <ul>
    <form>
      {% for note in user.notes %}
      <li>
        <a href="/notes/{{note.id}}/update"><i class="fas fa-edit"></i></a>
        <button formaction="/notes/{{note.id}}/delete" formmethod="POST"><i class="fas fa-trash"></i></button>
        {{ note.title }}
      </li>
      {% endfor %}
  </ul>
  <p>
    <button class="btn btn-primary" formaction="/users/{{ user.username }}/notes/add">Add Notes</button>
  </p>
  <p>
    <button class="btn btn-danger" formaction="/users/{{ user.username }}/delete" formmethod="POST">Delete User</button>
  </p>

  </form>
</div>
{% endblock %}